@import './variables.scss';
@import './mixins.scss';

.button{
  @include transition-colors;
  border: none;
  width: fit-content;
  padding: 12px;
  text-decoration: none;
  @include heading-title-sm;
  cursor: pointer; 
  @media screen and (min-width: $breakpoint-lg) {
    @include heading-title-md;
  }
}

.button-first{
  background-color: $white;
  border: 2px solid $blue;
  color: $blue;
  
  &:hover {
    color: $white!important;
   background-color: $blue-dark;
  }
}

.button-second {
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}


.button-first, .button-second {
  width: fit-content!important;
  @include transition-colors;
}

.button-green{
  background-color: $green;
  color: $white;

  &:hover {
    background-color: $green-dark;
  }
}

.button-blue{
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $blue-dark;
  }
}

.button-white{
  background-color: $white;
  color: $blue;

  &:hover {
    background-color: $blue-dark;
    color: $white;
  }
}