@import './variables.scss';
@import './mixins.scss';

.button-first {
    background-color: $white;
    color: $blue;
    @include heading-title-sm;
  
    @media screen and (min-width: $breakpoint-lg) {
      @include heading-title-md;
    }
  
    &:hover {
      background-color: $blue-dark;
      color: $white!important;
    }
    
    @include transition-colors;
    width: fit-content;
    padding: 12px;
}