@import './variables.scss';
@import './mixins.scss';

.default-heading-title h1,
.default-heading-title h2,
.default-heading-title h3,
.default-heading-title h4 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  @include font-rubik;
}