@import './variables.scss';

@mixin font-montserrat {
    font-family: 'MontSerrat', sans-serif; 
}

@mixin font-rubik {
    font-family: 'Rubik', sans-serif;
} 

@mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
}
@mixin text-sm{
    font-size: 14px; 
    line-height: 20px; 
}

@mixin text-base{
    font-size: 16px; 
    line-height: 24px;
}

@mixin text-lg{
    font-size: 18px; 
    line-height: 28px;
}
@mixin text-xl{
    font-size: 20px; 
    line-height: 28px; 
}

@mixin text-4xl {
    font-size: 36px; 
    line-height: 2.5rem; 
}

@mixin heading-text-sm{
    @include font-montserrat;
    @include text-sm
}

@mixin heading-text-md{
    @include font-montserrat;
    @include text-base;

    @media screen and (min-width: $breakpoint-lg){
        @include text-lg;
    }
}

@mixin heading-titles{
    text-transform: uppercase;
    font-weight: bold;
    color: $blue;
    @include font-rubik;

}

@mixin heading-title-sm{
    @include text-sm;
    @include heading-titles;
}

@mixin heading-title-md{
    @include heading-titles;
    @include text-base
}

@mixin heading-title-lg{
    @include text-base;
    letter-spacing: 0.4375rem;
    @media screen and (min-width: $breakpoint-lg){
        font-size: 20px;
    }
}

@mixin heading-title-xl{
    @include text-xl;
    line-height: 1.5rem; /* 24px */
    @media screen and (min-width: $breakpoint-lg){
        font-size: 35px;
    }
}

@mixin heading-title-2xl{
    @include heading-titles;

    @include text-4xl;
    @media screen and (min-width: $breakpoint-lg){
        font-size: 55px;
        text-indent: -1px;
    }
}

@mixin transition-colors{
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

@mixin btn-menu-mobile{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding-left: 1.5rem;
    text-indent: -624.9375rem;
    border: none;
}

@mixin w-full{
    width: 100%;
}

@mixin h-full{
    width: 100%;
}