@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.arrow-swiper {
  width: 3.75rem !important;

  &::after {
    content: "" !important;
    background-image: url("../../library/icons/arrow-right-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.1875rem;
    width: 2.1875rem;
    border: 1px solid $blue;
    border-radius: 9999px;
  }
}

.swiper-button-next.arrow-swiper-next,
.swiper-button-prev.arrow-swiper-prev {
  display: flex;
}

.swiper-button-next.arrow-swiper-next {
  right: 0;
}

.swiper-button-prev.arrow-swiper-prev {
  left: 0;
}

.arrow-swiper-prev::after {
  transform: rotate(180deg);
}