@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/heading-titles";

@import "layout/default";
@import "layout/header";
@import "layout/swipers";

.button-first {
  background-color: $white;
  color: $blue;
  @include heading-title-sm;

  @media screen and (min-width: $breakpoint-lg) {
    @include heading-title-md;
  }

  &:hover {
    background-color: $blue;
    color: $white;
  }
  
  @include transition-colors;
  width: fit-content;
  padding: 12px;
}

.bg-blue-hard-light {
  background-color: $blue-medium;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  mix-blend-mode: hard-light;
  z-index: 10;
}

