@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.single {
  &--descriptive-table{
    background-color: $gray-light;

    .itens{
      .text{
        line-height: 1.25rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;

        h1,h2,h3,h4{
          font-weight: 900;
          font-size: 1.25rem;
          line-height: 24px;
          @include font-rubik;
        }
      }
    }
  }
 
}
