@import '../../helpers/variables.scss';
@import '../../helpers/mixins.scss';

.depositions{
    padding: 2.5rem 0;
    background-color: $gray-light;
    overflow: hidden;
    
    @media screen and (min-width: $breakpoint-lg) {
        padding-bottom: 6.25rem;
    }

    &--title{
        @extend %new-heading-title;
        @extend %logo;
        color: $blue;
        margin-bottom: 2.5rem;
    }

    &--slides{
        .list{
            .item{	
                display: flex;
                flex-direction: column;
                align-items: center;
                column-gap: 2.5rem;
                row-gap: 2.5rem;

                @media screen and (min-width: $breakpoint-lg) {
                    flex-direction: row;
                }
    
                .thumbnail{
                    border-radius: 6.25rem;
                    overflow: hidden;
                    width: 12.5rem;
                    height: 12.5rem;
                }
    
                .content{
                    color: $blue-dark;
                    @media screen and (min-width: $breakpoint-lg) {
                        max-width: 21.875rem;
                    }
    
                    .title{                                     
                        font-size: 1.25rem;                    
                    }
                    .company{
                        margin-bottom: 16px;
                        font-weight: bold;
                        font-size: 14px;       
                    }

                    .text{
                        p{
                            line-height: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}