@import '../../helpers/variables.scss';
@import '../../helpers/mixins.scss';

.descriptive-table{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: $blue;

    @media screen and (min-width: $breakpoint-lg) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .tables{
        display: grid;
        @include grid-cols-12;
        align-items: center;
        row-gap: 3.75rem;
        
        .title{
            padding-left: 5.3125rem;
            margin-bottom: 1.25rem;
            strong{
                color: $blue-dark;
            }

            @include col-span-12;
            @extend %logo;

            @media screen and (min-width: $breakpoint-lg) {
                @include col-span-5;
            }
        }
        .itens{
            display: flex;
            flex-direction: column;
            row-gap: 1.875rem;
            @include col-span-12;
            
            @media screen and (min-width: $breakpoint-lg) {
                @include col-span-7;
                @include col-start-7;
            }

            .text{
                p{
                    line-height: 1.25rem;
                    strong{
                        display: block;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                        font-weight: 900;
                        @include font-rubik;
                        color: $blue-dark;
                    }
                }
            }
        }
    }
}