@import '../../helpers/variables.scss';
@import '../../helpers/mixins.scss';

.our-services{
    padding: 80px 0;

    @media screen and (min-width: $breakpoint-lg){
        padding: 140px 0;
    }

    .content-text{
        text-align: center;
        margin-bottom: 80px;
        
        @media screen and (min-width: $breakpoint-lg){
            margin-bottom: 140px;    
        }
        
        .wrap{
            grid-column: span 12 / span 12;
            
            @media screen and (min-width: $breakpoint-lg){
                grid-column: span 8 / span 8;
                grid-column-start: 3;
            }

            .title{
                @include heading-title-2xl;
                margin-bottom: 32px;
            }

            .text{
                @include text-lg
            }
        }
       
    }
}