@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.page-orcamento{
    color: $blue;
    display: grid;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    @include grid-cols-1;

    @media screen and (min-width: $breakpoint-lg) {
        padding-top: 5rem;
        padding-bottom: 6.25rem;
        @include grid-cols-12;
    }
    .title{
        text-align: center;
        margin-bottom: 5rem;
        @include col-span-12;
        @include heading-title-xl;
    }

    img.icon {
        object-fit: contain ;
        background-repeat: no-repeat;
        width: 1.75rem;
        height: 1.75rem;
        @media screen and (min-width: $breakpoint-lg) {
            width: 2rem;
            height: 2rem;
        }
    }

    .socials-icons {
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        @include col-span-12;

        @media screen and (min-width: $breakpoint-lg) {
            @include col-span-6
        }

        
        
        a{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 0.625rem;
            text-decoration: none;
            font-weight: bold;
            color: $blue;
            @include heading-text-md;

            &:hover{
                color: $blue-dark;
                @include transition-colors;
            }
        }
        .address{
            display: flex;
            flex-direction: row;
            column-gap: 0.625rem;
            .text{
                font-weight: bold;
                @include heading-text-md;
            }
        }
    }
    .form {
        margin-top: 5rem;
        @include col-span-12;

        @media screen and (min-width: $breakpoint-lg) {
            margin-top: 0;
            @include col-span-6;
        }

        .wpcf7-form-control-wrap{
            display: flex;
            flex-direction: column;
            row-gap: 1.25rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
          border: 1px solid $blue;
          padding: 1rem;
          width: 100%;
          box-sizing: border-box;
          border-radius: 0.3125rem;
          font-family: 'Rubik', sans-serif;
      
          &::placeholder {
            background-color: $white;
            color: $blue;
            font-size: 1rem;
          }
        }
      
        input[type="radio"] {
          margin-right: 0.3125rem;
        }

        .wpcf7-submit{
            margin-top: 1.25rem;
            cursor: pointer;
            @include button-primary;
        }
    }
}
